extends layout.pug

block head
    link(rel="stylesheet", href="/public/styles.css")

block content
    #update-modal.modal.fade(tabindex="-1")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Update Grades
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    form#update-form(action="/api/update/" method="POST" enctype="application/x-www-form-urlencoded")
                        .form-group
                            label(for="semester") Semester:
                            select#semester.form-control(name="semester")
                        .form-group
                            label(for="password") Password:
                            input.form-control#password(type="password" name="password")
                .modal-footer
                    input#update.btn.btn-primary(type="submit", form="update-form", value="Update")
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
    #add-assignment.modal.fade(tabindex="-1")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Add Assignment
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    form#assignment-form(onsubmit="return false")
                        .form-group
                            label(for="classSelect") Class:
                            select#classSelect.form-control(name="class")
                        .form-group
                            label(for="nameInput") Name:
                            input#nameInput.form-control(type="text", name="name", placeholder="Name")
                        .form-group
                            label(for="typeSelect") Type:
                            select#typeSelect.form-control(name="type")
                        .form-group
                            label(for="pointsInput") Points:
                            input#pointsInput.form-control(type="text", name="points", value="0")
                        .form-group
                            label(for="possibleInput") Points Possible:
                            input#possibleInput.form-control(type="text", name="possible", placeholder="0")
                .modal-footer
                    input#add.btn.btn-primary(type="submit", form="assignment-form", value="Add")
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="#") Eloc Grades
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#dropdown")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#dropdown
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link#update-link(href="#" data-toggle="modal" data-target="#update-modal") Update Grades
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle#semester-select-link(href="#" data-toggle="dropdown")
                    .dropdown-menu#semester-select
                li.nav-item
                    a.nav-link(href="/logout") Log Out
    #main

block footer
    script(src="/public/client.js")